.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(150, 146, 146);
  margin-top: 30px;
  width: 96%;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgb(150, 146, 146);
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.outerDashDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media only screen and (max-width: 400px) {
  .outerDashDiv .btn {
    display: none;
  }
}
.outerDashDiv .btn {
  color: #ff2f0a;
  min-width: 10px;
  padding: 0 0 0 0;
}


.dashDiv {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  text-align: center;
  height: 200px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  scroll-behavior: smooth;
}

/* handle firefox */
.dashDiv {
  scrollbar-width: none;
}


.dashDiv::-webkit-scrollbar {
  display: none;
}
.dashDiv::-webkit-scrollbar-track {
  background: transparent;
}
.dashDiv::-webkit-scrollbar-thumb {
  background:#ff2f0a;
}
.dashDiv::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sticky-head {
  height: 240px;
  color: white;
  padding: 0px;
}
.mapDiv {
  height: 300px;
  width: 400px;
  color: white;
  padding: 0px;
  margin-bottom: 50px;
}

.dashDiv .MuiCard-root {
display: flex;
flex-direction: column;
height: 200px;
min-width: 200px;
width: 200px;
margin: auto;
margin-right: 12px;
justify-content: center;
}
.dashDiv .MuiCardHeader-root {
  flex-basis: 100%;
  margin: auto;
 
  padding: 8px;
}
.dashDiv .MuiCardHeader-title {
  font-size: 15px;
  font-weight: bold;
}
.dashDiv .MuiCardHeader-subheader {
  font-size: 14px;
}
.dashDiv .MuiCardActions-root {
flex-wrap: wrap;
justify-content: space-between;
padding: 0 0 0 0;
}

.dashDiv .MuiCardActions-root .MuiChip-root {
  margin-bottom: 10px;
}

.dashDiv .MuiCardActions-root .detailsBtn {
background-color: #ff2f0a;
margin: 0px;
color: white;
border-radius: 0px;
}

.dashDiv .MuiIconButton-root{
  color: rgb(221, 68, 68);
  align-self: flex-end;
  flex-basis: 100%;
  padding-top: 0px;
}
.dashDiv .MuiIconButton-root:hover{
  background-color: transparent;
}


#pizza-button {
  background-color: #ff2f0a;
  color: white;
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background:#ff2f0a;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cartDetailsDiv {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: space-evenly;
  text-align: center;
  height: auto;
  width: 100%;
  align-items: center;
  scroll-behavior: smooth;
}
.cartDetailsCard {
  min-width: 280px;
  height: 200px;
  margin-bottom: 14px;
  margin-right: 10px;
}
.placeDetailsDiv {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-evenly;
  text-align: center;
  height: auto;
  width: 100%;
  align-items: center;
  scroll-behavior: smooth;
}
.sticky-head-places {
  height: auto;
  color: white;
  padding: 0px;
}

.placeReviewsInnerDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: space-evenly;
  text-align: left;
  height: auto;
  width: 90%;
  margin: auto;
  scroll-behavior: smooth;
}
.placeReviewsCard {
  margin-bottom: 18px;
}
.placeDetailsCard {
  min-width: 240px;
  height: 200px;
  margin-bottom: 14px;
  margin-right: 10px;
  color: white;
}

.placeDetailsClosed {
  min-width: 240px;
  margin-top: 40px;
  margin-bottom: 14px;
  margin-right: 10px;
  background-color: black;
  color: white;
}
.placeDetailsCardSkeleton {
  width: 90%;
  height: 200px;
  background-color: inherit;
}
.placeDetailsDivSkeleton {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-evenly;
  text-align: center;
  height: 200px;
  width: 100%;
  align-items: center;
  background-color: inherit;
}

.pizzaMenuContainer {
  background-color: white;
}
.pizzaMenuContainer .MuiCircularProgress-colorSecondary {
  color: black !important;
}
.pizzaMenuContainer .MuiCircularProgress-circle {
  color: black !important;
}
.pizzaMenuContainer .MuiCircularProgress-svg {
  color: black !important;
}
.pizzaMenuContainer .MuiStepLabel-label-completed {
  color: gray;
}
.pizzaMenuContainer .MuiStepLabel-label.MuiStepLabel-active {
  color: black;
}
circle {
  color:  #ff2f0a;
}
.pizzaMenuContainer .MuiSvgIcon-root .MuiStepIcon-root .MuiStepIcon-completed {
  color: #ff2f0a;
}
.MuiStepIcon-root.MuiStepIcon-completed {
 color: gray !important;
}

.accountDetailsDiv {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: auto;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 100%;
  align-items: center;
  margin-top: 0px;
}

.accountDetailsCard {
  width: 90%;
  height: 140px;
  margin: 15px;
  padding-bottom: 10px;
}
.accountDetailsCard .MuiCardActions-root {
  padding: 0px;
}

.accountAddDiv {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
