.dashDiv {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  /* background-color: #575551; */
}
.dashDiv .sticky-head {
  position: sticky;
  top: 0;
  text-align: left;
  margin-top: 0;
  padding: 3px;
  background-color: #202020;
  color: white;
  z-index: 1000;
}
.dashDiv .MuiCard-root {
height: auto;
margin: auto;
margin-bottom: 12px;
}
.dashDiv .MuiCardHeader-root {
  padding: 8px;
}
.dashDiv .MuiCardHeader-title {
  font-size: 14px;
}
.dashDiv .MuiCardHeader-subheader {
  font-size: 12px;
}
.dashDiv .MuiCardActions-root {
display: block;
padding: 0px;
margin: 0px;
}
.dashDiv .MuiIconButton-root {
  color: rgb(221, 68, 68);
  float: right;
  padding: auto;
  margin-right: 20px;
}
.dashDiv .MuiButton-root {
  float: left;
  line-height: 2.5;
  text-transform: none;
  margin-left: 20px;
  font-weight: 500;
}
.sticky-head {
  position: sticky;
  top: 0;
  text-align: left;
  margin-top: 0;
  padding: 3px;
  background-color: #202020;
  color: white;
  z-index: 1000;
}

.placeReviewsCard {
  display: block;
  width: 100%;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(1.15); }
  to { transform: scale(1); }
}

#pizza-button {
  /* animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
  background-color: #ff430a;
  color: white;
}
/* #pizza-button:hover,
#pizza-button:focus {
  animation-name: unset;
} */
span.MuiStepLabel-label {
  color: black;
}
span.MuiStepLabel-label.MuiStepLabel-active {
  color: black;
}

span.MuiSvgIcon-root.MuiStepIcon-root.MuiStepIcon-completed {
  color:  #ff430a;
}
.MuiStepIcon{
  color: #ff430a;
}
.MuiStepIcon-completed {
  color: purple;
}
circle {
  color:  #ff430a;
}
